dkpro-cassis==0.7.*
ipykernel==6.11.*
ipython==8.2.*
jupyter-client==7.2.1
jupyter-core==4.*
jupyter-server==1.*
jupyter-contrib-core==0.4.*
nbconvert==7.2.*
nbclient==0.7.*
sos-ruta==0.1.0
sos-notebook==0.23.*
sos==0.22.*
tornado==6.1.*